.blogImage {
  width: 30%;
}

div.gallery {
border: 1px solid rgb(218, 218, 218);
border-radius: 12px;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
width: 50%;
height: 100%;
}

div.desc {
padding: 15px;
text-align: center;
}



