form {
    background: white;
    border: 1px solid #dede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 500px;
    padding: 30px 50px;
  }
  input {
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
  form > h1 {
    border-bottom: 1px solid white;
    color: #3D3D3D;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    text-align: center;
  }
  form > label {
    color: #3D3D3D;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  /* #submit {
    background-color: gainsboro;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    margin: 20px 0px;
  } */